
body {
  font-family: "Montserrat";
  text-align: center;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {

  font-family: "Montserrat-Black";
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 300px;
  margin-bottom: 20px;
  margin-left: 28px;
}



.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 5% 5%;
}

/* Sections */



.white-section {
  background-color:  white;
}

/* Navigation Bar */

nav{
	
	position: sticky;
}

.navbar {
  padding: 0 0 1.5rem;
  background-color:white;
   
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
 
}

.nav-item {
  padding: 0 35px  0 20px;
  border-right:2px groove #9510AC;
  
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
  color: black;
  
}


/* Buttons */

.button{
	color: white;
	border: none;
	text-align: center;
    text-decoration: none;
    display: inline-block;
	padding: 10px 28px;
	border-radius: 4px;
	cursor: pointer;
}

#GetDataButton {
	
	background-color: #9510AC;
	
	
}

#TutorialButton{
	
	background-color: #23272B;
	margin-left:30px;
	
}

.MissionButton{
	
	
	background-color: #9510AC;
	color:white;
	
}

#TopButton {
  display: none; 
  position: fixed; 
  bottom: 30px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #ffbd36; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; /* Rounded corners */
  font-size: 14px; 
}

/* Add a dark-grey background on hover */
#TopButton:hover {
  background-color: #555; 
}




/* Title Section */

#title {
  
  
  color: black;
  text-align: left;
  background-color: white;
  margin-left: 5px;
}

#title .container-fluid {
  padding: 3% 5% 5%;
}

/* IMAGES */

.title-image {
  
  width: 600px;
  height: 450px;
  position: absolute;
  float: right;
  margin-left: 10px;
  margin-top: 20px;
}

/*LOGO*/

#logo{
	
  width: 350px;
  height: 350px;
  position: absolute ;
  float: left;
  margin-left:0px;
  margin-top: 0px;

 
}


/*About Section */

#AboutCard{
	

width: 50%;	
margin-top:20px;
margin-bottom:20px;	
position: relative;
float:left;	
border: none;
border-radius:0px;

}


#AboutImage{
	
width: 80%;
height: 300px;
padding-left: 20%;
padding-top: 5%;	
	
}


#DataCard{
	
	width: 50%;	
    margin-top:20px;
    margin-bottom:20px;	
	float:right;
	position: relative;
	border: none;
	border-radius:0px;
}

#DataImage{
	
width: 80%;
height: 300px;
padding-left: 20%;
padding-top: 5%;
	
	
}

/* Mission Section */


#Mission {
	
  background-image: url("../img/woman.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-position: center; 
  padding-left: 10%;
}

.LOGOcard{
	
	width: 350px;
	height: 300px;
	opacity: 0.9;
	position: relative;
	float: left;
	
}

#MissionCard{
	
	width: 350px;
	height: 350px;
	opacity: 0.95;
	position: relative;
	float: right;
	color: black;
  	
	
}

.left {
    display:inline;
    float: left;
    margin-left: 40px;
    margin-top: 20px;
	
}

.right {
    display:inline;
    float: left;
    margin-left: 300px;
    margin-top: -40px;
}


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}



/* Footer Section */

#footer{
	  
	background-color:black;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
  
  
	  
  }
}
